<mat-nav-list fxHide="true" fxShow.lt-md="true" class="bg-drak">
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard" class="first-list-icon">
        <mat-icon class="white-icon" aria-hidden="false" aria-label="home">home</mat-icon>{{'components.mobile_sidebar.home | translate'}}
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard/reviews">
        <mat-icon class="white-icon"> list_alt</mat-icon>{{'components.mobile_sidebar.reviews | translate'}}
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard/manager-model">
        <mat-icon class="white-icon"> person_pin</mat-icon> {{'components.mobile_sidebar.clairvoyants | translate'}}
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard/manager-user">
        <mat-icon class="white-icon">person</mat-icon>{{'components.mobile_sidebar.users | translate'}}
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard/packages">
        <mat-icon class="white-icon"> attach_money</mat-icon>{{'components.mobile_sidebar.packages | translate'}}
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard/options">
        <mat-icon class="white-icon"> perm_data_setting</mat-icon>{{'components.mobile_sidebar.options | translate'}}
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard/page-config">
        <mat-icon class="white-icon"> settings</mat-icon>{{'components.mobile_sidebar.page_config | translate'}}
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard/manager-withdraw">
        <mat-icon class="white-icon"> credit_card</mat-icon>{{'components.mobile_sidebar.withdraw | translate'}}
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard/static-page">
        <mat-icon class="white-icon"> how_to_vote</mat-icon>{{'components.mobile_sidebar.static_page | translate'}}
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard/seo">
        <mat-icon class="white-icon"> title</mat-icon>{{'components.mobile_sidebar.seo | translate'}}
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard/order-manager">
        <mat-icon class="white-icon">add_shopping_cart</mat-icon>{{'components.mobile_sidebar.order | translate'}}
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard/ads">
        <mat-icon class="white-icon">image</mat-icon>{{'components.mobile_sidebar.banner | translate'}}
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard/payout" class="last-list-icon">
        <mat-icon class="white-icon">payment</mat-icon>{{'components.mobile_sidebar.payout | translate'}}
    </a>
    <mat-divider></mat-divider>
</mat-nav-list>