<mat-nav-list fxHide="true" fxShow.lt-md="true" class="bg-drak">
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard" class="first-list-icon">
        <mat-icon class="white-icon" aria-hidden="false" aria-label="home">home</mat-icon>Home
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard/reviews">
        <mat-icon class="white-icon"> list_alt</mat-icon>Reviews
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard/manager-model">
        <mat-icon class="white-icon"> person_pin</mat-icon> Clairvoyants
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard/manager-user">
        <mat-icon class="white-icon">person</mat-icon>Users
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard/packages">
        <mat-icon class="white-icon"> attach_money</mat-icon>Packages
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard/options">
        <mat-icon class="white-icon"> perm_data_setting</mat-icon>Options
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard/page-config">
        <mat-icon class="white-icon"> settings</mat-icon>Page Config
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard/manager-withdraw">
        <mat-icon class="white-icon"> credit_card</mat-icon>Withdraw
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard/static-page">
        <mat-icon class="white-icon"> how_to_vote</mat-icon>Static Page
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard/seo">
        <mat-icon class="white-icon"> title</mat-icon>Seo
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard/order-manager">
        <mat-icon class="white-icon">add_shopping_cart</mat-icon>Order
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard/ads">
        <mat-icon class="white-icon">image</mat-icon>Banner
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard/payout" class="last-list-icon">
        <mat-icon class="white-icon">payment</mat-icon>Payout
    </a>
    <mat-divider></mat-divider>
</mat-nav-list>