<app-navigation></app-navigation>
<div class="model-home">
  <div class="container" *ngIf="user">
    <div class="top-profile">
      <div class="name-left" *ngIf='!editFullName'>
        {{ user.firstName + " " + user.lastName }}
        <i class="fa fa-check-circle color-green"></i>
        <a class="edit" (click)="editName()"><i class="fa fa-pencil"></i></a>
      </div>
      <div class="name-left d-flex" *ngIf='editFullName' [formGroup]="proflieFormGroup">
        <input matInput formControlName="fristNameFormControl" [errorStateMatcher]="matcher" placeholder="{{ 'profile.first_name' | translate }}"
          [(ngModel)]="user.firstName">
        <input matInput formControlName="lastNameFormControl" [errorStateMatcher]="matcher" placeholder="{{ 'profile.last_name' | translate }}"
          [(ngModel)]="user.lastName">
        <button [disabled]="loading" mat-raised-button color="accent" (click)="changeFullName()"
          ngclass="btn btn-danger btn-sm">{{ 'profile.save' | translate }}</button>
      </div>
      <div class="phone-right">

        <i *ngIf="user.twilioNumber" class="fa fa-phone color-pink"></i>
        {{ user.twilioNumber}}
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-sm-4 preivew avatarImg pic-model">
        <img  src="{{user.avatarUrl||'assets/images/img.jpg'}}" alt="" *ngIf="!imageChangedEvent">
        <div [hidden]="!imageChangedEvent">
          <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" [aspectRatio]="35 / 45" 
          format="png" (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()"
          (cropperReady)="cropperReady()" (loadImageFailed)="loadImageFailed()">
        </image-cropper> 
        </div>      
        <h5>{{ 'profile.avatar_upload' | translate }}</h5>
        <input class="btn btn-danger btn-block upload-btn" type="file" name="image" (change)="fileProgress($event)"
          accept="image/x-png,image/gif,image/jpeg">
        <p class="alert alert-warning">{{ 'profile.avatar_warning' | translate }}</p>
        <div class="doNotDisturb" *ngIf="user.role == 'model'">
          <mat-slide-toggle *ngIf="user.doNotDisturb;else notdoNotDisturb" [(ngModel)]="user.doNotDisturb" checked>{{ 'profile.dont_disturb' | translate }}</mat-slide-toggle>
          <ng-template #notdoNotDisturb>
            <mat-slide-toggle [(ngModel)]="user.doNotDisturb">{{ 'profile.dont_disturb' | translate }}</mat-slide-toggle>
          </ng-template>
        </div>
        <div class="audio-detail" *ngIf="user.role == 'model'">
          <audio src="{{user.audioUrl}}" controls></audio>
        </div>
        <h5 *ngIf="user.role == 'model'">{{ 'profile.audio_upload' | translate }}</h5>
        <button *ngIf="user.role == 'model'" mat-raised-button color="accent" (click)="openUploadAudio()"
          ngclass="btn btn-danger btn-sm">{{ 'profile.upload' | translate }}</button>

      </div>
      <div class="col-sm-8">
        <form [formGroup]="proflieFormGroup">
          <div class="title-1">
            <h3>{{ 'profile.biography' | translate }}</h3>
            <div class="pull-right">
              <button [disabled]="loading" mat-raised-button color="accent" (click)="onSubmit()"
                ngclass="btn btn-danger btn-sm">{{ 'profile.save' | translate }}</button>
            </div>
          </div>
          <div class="content-1">
            <div class="row form-edit">
              <div class="col-sm-6">
                <div class="form-group row">
                  <label class="col-sm-5">{{ 'profile.gender' | translate }}</label>
                  <div class="col-sm-7">
                    <mat-form-field appearance="fill">
                      <mat-label>{{ 'profile.gender_label' | translate }}</mat-label>
                      <mat-select [(value)]="user.gender">
                        <mat-option *ngFor="let item of genders" [value]="item.value">
                          {{ item.name }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group row">
                  <label class="col-sm-5">{{ 'profile.orientation' | translate }}</label>
                  <div class="col-sm-7">
                    <mat-form-field class="example-full-width">
                      <mat-label>{{ 'profile.orientation_label' | translate }}</mat-label>
                      <input matInput formControlName="orientationFormControl" [errorStateMatcher]="matcher"
                        placeholder="" [(ngModel)]="user.orientation">
                      <mat-error *ngIf="orientationFormControl.hasError('required')">
                        {{ 'profile.orientation_required' | translate }}
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group row">
                  <label class="col-sm-5">{{ 'profile.age' | translate }}</label>
                  <div class="col-sm-7">
                    <mat-form-field class="example-full-width">
                      <mat-label>{{ 'profile.age_label' | translate }}</mat-label>
                      <input type="number" matInput formControlName="ageFormControl" [(ngModel)]="user.age"
                        [errorStateMatcher]="matcher" placeholder="{{ 'profile.age_placeholder' | translate }}">
                      <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
                      <mat-error *ngIf="ageFormControl.hasError('min') && !ageFormControl.hasError('required')">
                        {{ 'profile.age_range_error' | translate }}
                      </mat-error>
                      <mat-error *ngIf="ageFormControl.hasError('required')">
                        {{ 'profile.age_required' | translate }}
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group row">
                  <label class="col-sm-5">{{ 'profile.languages' | translate }}</label>
                  <div class="col-sm-7">
                    <mat-form-field class="example-full-width">
                      <mat-label>{{ 'profile.languages_label' | translate }}</mat-label>
                      <input matInput formControlName="languagesFormControl" [errorStateMatcher]="matcher"
                        placeholder="{{ 'profile.languages_required' | translate }}" [(ngModel)]="user.languages">
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="title-1">
            <h3>{{ 'profile.about_me' | translate }}</h3>
            <div class="pull-right">
              <a (click)="enableAbout()" class="edit edit-about"><i class="fa fa-pencil"></i></a>
            </div>
          </div>
          <div class="content-1">
            <mat-form-field class="full-width " style="width: 100%;">
              <textarea matInput [(ngModel)]="user.about" [errorStateMatcher]="matcher"
                formControlName="aboutFormControl" id="editAbout-text" [disabled]="disableAbout"
                [(ngModel)]="user.descrpiton"> {{ user.about}}</textarea>
              <mat-error *ngIf="aboutFormControl.hasError('maxlength')">
                {{ 'profile.about_length_error' | translate }} {{maxInputLength}}
              </mat-error>
            </mat-form-field>
            <span class="float-right alert-length">{{user.about.length}}/{{maxInputLength}}</span>
          </div>
          <div class="title-1">
            <h3>{{ 'profile.interests' | translate }}</h3>

          </div>
          <div class="content-1">
            <mat-form-field appearance="fill" class="full-width " style="width: 100%;">
              <input matInput placeholder="{{ 'profile.interests_placeholder' | translate }}" formControlName="interestsCtrl" [(ngModel)]="user.interests"
                required>
              <mat-error *ngIf="interestsCtrl.hasError('maxlength')">
                {{ 'profile.interests_length_error' | translate }} {{maxInputLength}}
              </mat-error>
            </mat-form-field>
            <span class="float-right alert-length">{{user.interests.length}}/{{maxInputLength}}</span>
          </div>
          <div class="title-1">
            <h3>{{ 'profile.specialities' | translate }}</h3>

          </div>
          <div class="content-1">
            <mat-form-field appearance="fill" class="full-width " style="width: 100%;">
              <input matInput placeholder="{{ 'profile.specialities_placeholder' | translate }}" formControlName="specialitiesCtrl" [(ngModel)]="user.specialities"
                required>
              <mat-error *ngIf="specialitiesCtrl.hasError('maxlength')">
                {{ 'profile.specialities_length_error' | translate }} {{maxInputLength}}
              </mat-error>
            </mat-form-field>
            <span class="float-right alert-length">{{user.specialities.length}}/{{maxInputLength}}</span>
          </div>
          <div class="title-1" *ngIf="user.role == 'model'">
            <h3>{{ 'profile.category' | translate }}</h3>

          </div>
          <div class="content-1">

            <mat-form-field appearance="fill" class="full-width " style="width: 100%;" *ngIf="user.role == 'model'">
              <mat-label>{{user.category}}</mat-label>
              <mat-select [(value)]="user.category">
                <mat-option value="male">{{ 'profile.male' | translate }}</mat-option>
                <mat-option value="female">{{ 'profile.female' | translate }}</mat-option>
                <mat-option value="couples">{{ 'profile.couples' | translate }}</mat-option>  
              </mat-select>
            </mat-form-field>
          </div>
          <div class="title-1">
            <h3>{{ 'profile.contact_us' | translate }}</h3>
            <div class="pull-right">
              <a (click)="enableAbout()" class="edit"><i class="fa fa-pencil"></i></a>
            </div>
          </div>
          <div class="content-1">
            <div class="form-group row">
              <label class="col-sm-5">{{ 'profile.base_city' | translate }}</label>
              <div class="col-sm-7">
                <mat-form-field class="example-full-width">
                  <mat-label>{{ 'profile.city_label' | translate }}</mat-label>
                  <input matInput formControlName="cityFormControl" [(ngModel)]="user.location.city"
                    [errorStateMatcher]="matcher" placeholder="{{ 'profile.city_placeholder' | translate }}">
                  <mat-error *ngIf="cityFormControl.hasError('required')">
                    {{ 'profile.city_required' | translate }}
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="form-group row" *ngIf="user.role=='model'">
              <label class="col-sm-5">{{ 'profile.phone_number' | translate }}</label>
              <div class="col-sm-7 phone-flat">
                <div class="example-full-width">
                  <ngx-intl-tel-input [inputId]="'adsasd'" [cssClass]="'custom'"
                    [preferredCountries]="preferredCountries" [enableAutoCountrySelect]="true"
                    [enablePlaceholder]="true" [searchCountryFlag]="true"
                    [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]"
                    [selectFirstCountry]="false" [selectedCountryISO]="CountryISO.UnitedStates" [maxLength]="15"
                    [tooltipField]="TooltipLabel.Name" [phoneValidation]="true" [(ngModel)]="user.phone"
                    [separateDialCode]="separateDialCode" name="phone" formControlName="phoneFormControl">
                  </ngx-intl-tel-input>
                  <!--             
                <input matInput formControlName="phoneFormControl" [(ngModel)]="user.phone" [errorStateMatcher]="matcher" placeholder="EX: +16648177912"
                      > -->
                  <!-- <div *ngIf="phoneFormControl.hasError('required')">
                  Phone is <strong>required</strong>
                </div>
                <div *ngIf="phoneFormControl.hasError('maxlength')">
                  Phone is <strong> have max length is 12</strong>
                </div> -->
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>