<div class="model-home">
  <div class="container">
    <div class="hea-top-main text-center">
      <h3>{{ 'reset_password.change_password' | translate }}</h3>
    </div>
    <div  fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
        <form [formGroup]="passwordFormGroup">
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group row">
                      <mat-form-field >
                        <mat-label for="password">{{ 'reset_password.old_password' | translate }}</mat-label>
                        <input matInput type="password" formControlName="oldPasswordCtrl"  placeholder="{{ 'reset_password.old_password' | translate }}" />
                      </mat-form-field>
                    </div>
          
                  </div>
              <div class="col-sm-12">
                <div class="form-group row">
                  <mat-form-field >
                    <mat-label for="password">{{ 'reset_password.password' | translate }}</mat-label>
                    <input matInput type="password" formControlName="passwordCtrl"  placeholder="{{ 'reset_password.password' | translate }}"
                     [errorStateMatcher]="matcher" />
                      
                  </mat-form-field>
                </div>
      
              </div>
              <div class="col-sm-12">
                <div class="form-group row">
                  <mat-form-field >
                    <mat-label for="prePassword">{{ 'reset_password.confirm_password' | translate }}</mat-label>
                    <input matInput type="password" placeholder="{{ 'reset_password.confirm_password' | translate }}" formControlName="confirmPassword"
                      [errorStateMatcher]="matcher">
                    <mat-error *ngIf="passwordFormGroup.hasError('notSame')">
                      {{ 'reset_password.password_mismatch' | translate }}
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <button mat-raised-button color="primary" (click)="onSubmit()">{{ 'reset_password.save' | translate }}</button>
          </form>
    </div>
  </div>
</div>
