<div class="padding-main">
  <div class="title-main">{{'components.model_of_week.model' | translate}}<span> {{'components.model_of_week.of_week' | translate}}</span></div>
  <div class="container">
    <div class="slider-week">
      <div class="item-model">
        <div class="pic-model">
          <a href="#"><img src="assets/images//img.jpg"></a>
        </div>
        <div class="txt-model">
          <div class="title-model">
            <h3><a href="#">{{'components.model_of_week.christabel_evan' | translate}}</a></h3>
            <div class="age-item">, {{'components.model_of_week.tt_age' | translate}} <span class="status online"></span></div>
          </div>
          <div class="star-v">
            <div class="list-star">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
            </div>
            <span class="volume-model"><i class="fa fa-volume-up"></i></span>
          </div>
          <div class="Language-model">{{'components.model_of_week.lang_eng_hin_ja' | translate}}</div>
          
          <div class="btn-status online"><i class="fa fa-comments"></i> <span>{{'components.model_of_week.online' | translate}}</span></div>
        </div>
      </div>
      <div class="item-model">
        <div class="pic-model">
          <a href="#"><img src="assets/images//img.jpg"></a>
        </div>
        <div class="txt-model">
          <div class="title-model">
            <h3><a href="#">{{'components.model_of_week.christabel_evan' | translate}}</a></h3>
            <div class="age-item">, 22 Age <span class="status busy"></span></div>
          </div>
          <div class="star-v">
            <div class="list-star">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
            </div>
            <span class="volume-model"><i class="fa fa-volume-up"></i></span>
          </div>
          <div class="Language-model">{{'components.model_of_week.lang_eng_hin_ja' | translate}}</div>
          
          <div class="btn-status busy"><i class="fa fa-minus-circle"></i> <span>{{'components.model_of_week.busy' | translate}}</span></div>
        </div>
      </div>
      <div class="item-model">
        <div class="pic-model">
          <a href="#"><img src="assets/images//img.jpg"></a>
        </div>
        <div class="txt-model">
          <div class="title-model">
            <h3><a href="#">{{'components.model_of_week.christabel_evan' | translate}}</a></h3>
            <div class="age-item">, {{'components.model_of_week.tt_age' | translate}} <span class="status online"></span></div>
          </div>
          <div class="star-v">
            <div class="list-star">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
            </div>
            <span class="volume-model"><i class="fa fa-volume-up"></i></span>
          </div>
          <div class="Language-model">{{'components.model_of_week.lang_eng_hin_ja' | translate}}</div>
          
          <div class="btn-status online"><i class="fa fa-comments"></i> <span>{{'components.model_of_week.online' | translate}}</span></div>
        </div>
      </div>
      <div class="item-model">
        <div class="pic-model">
          <a href="#"><img src="assets/images//img.jpg"></a>
        </div>
        <div class="txt-model">
          <div class="title-model">
            <h3><a href="#">{{'components.model_of_week.christabel_evan' | translate}}</a></h3>
            <div class="age-item">, {{'components.model_of_week.tt_age' | translate}} <span class="status busy"></span></div>
          </div>
          <div class="star-v">
            <div class="list-star">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
            </div>
            <span class="volume-model"><i class="fa fa-volume-up"></i></span>
          </div>
          <div class="Language-model">{{'components.model_of_week.lang_eng_hin_ja' | translate}}</div>
          
          <div class="btn-status busy"><i class="fa fa-minus-circle"></i> <span>BUSY</span></div>
        </div>
      </div>

      <div class="item-model">
        <div class="pic-model">
          <a href="#"><img src="assets/images//img.jpg"></a>
        </div>
        <div class="txt-model">
          <div class="title-model">
            <h3><a href="#">{{'components.model_of_week.christabel_evan' | translate}}</a></h3>
            <div class="age-item">, 22 Age <span class="status online"></span></div>
          </div>
          <div class="star-v">
            <div class="list-star">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
            </div>
            <span class="volume-model"><i class="fa fa-volume-up"></i></span>
          </div>
          <div class="Language-model">{{'components.model_of_week.lang_eng_hin_ja' | translate}}</div>
          
          <div class="btn-status online"><i class="fa fa-comments"></i> <span>ONLINE</span></div>
        </div>
      </div>
      <div class="item-model">
        <div class="pic-model">
          <a href="#"><img src="assets/images//img.jpg"></a>
        </div>
        <div class="txt-model">
          <div class="title-model">
            <h3><a href="#">{{'components.model_of_week.christabel_evan' | translate}}</a></h3>
            <div class="age-item">, {{'components.model_of_week.tt_age' | translate}} <span class="status busy"></span></div>
          </div>
          <div class="star-v">
            <div class="list-star">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
            </div>
            <span class="volume-model"><i class="fa fa-volume-up"></i></span>
          </div>
          <div class="Language-model">{{'components.model_of_week.lang_eng_hin_ja' | translate}}</div>
          
          <div class="btn-status busy"><i class="fa fa-minus-circle"></i> <span>{{'components.model_of_week.busy' | translate}}</span></div>
        </div>
      </div>
    </div>
  </div>
</div>