<app-navigation></app-navigation>
<div class="model-home register-container">
  <div class="container">
    <mat-horizontal-stepper #stepper linear fxShow="true" fxShow.lt-md="false">
      <mat-step [stepControl]="registerFormGroup">
        <ng-template matStepLabel>{{ 'register.enter_your_account' | translate }}</ng-template>
        <form [formGroup]="registerFormGroup">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group row">
                <mat-form-field appearance="fill">
                  <mat-label for="firstName">{{ 'register.first_name' | translate }}</mat-label>
                  <input type="text" matInput formControlName="firstNameCtrl" [(ngModel)]="user.firstName" />
                  <mat-error *ngIf="registerFormGroup.controls['firstNameCtrl'].errors?.required">
                    {{ 'register.first_name_required' | translate }}
                  </mat-error>

                </mat-form-field>
              </div>

            </div>
            <div class="col-sm-6">
              <div class="form-group row">

                <mat-form-field appearance="fill">
                  <mat-label for="lastName">{{ 'register.last_name' | translate }}</mat-label>
                  <input matInput type="text" formControlName="lastNameCtrl" [(ngModel)]="user.lastName" />
                  <mat-error *ngIf="registerFormGroup.controls['lastNameCtrl'].errors?.required">
                    {{ 'register.last_name_required' | translate }}
                  </mat-error>

                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group row">

                <mat-form-field appearance="fill">
                  <mat-label for="password">{{ 'register.password' | translate }}</mat-label>
                  <input matInput type="password" formControlName="passwordCtrl" [(ngModel)]="user.password" />
                  <mat-error *ngIf="registerFormGroup.controls['passwordCtrl'].errors?.minlength">
                    {{ 'register.password_length_error' | translate }}
                  </mat-error>
                  <mat-error *ngIf="registerFormGroup.controls['passwordCtrl'].errors?.required">
                    {{ 'register.password_required' | translate }}
                  </mat-error>

                </mat-form-field>
              </div>

            </div>
            <div class="col-sm-6">
              <div class="form-group row">

                <mat-form-field appearance="fill">
                  <mat-label for="prePassword">{{ 'register.confirm_pwd' | translate }}</mat-label>
                  <input matInput type="password" placeholder="{{ 'register.confirm_pwd' | translate }}" formControlName="confirmPassword"
                    [errorStateMatcher]="matcher">
                  <mat-error *ngIf="registerFormGroup.hasError('notSame')">
                    {{ 'register.password_mismatch' | translate }}
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group row">

                <mat-form-field appearance="fill">
                  <mat-label for="email">{{ 'register.email' | translate }}</mat-label>
                  <input matInput type="text" formControlName="emailCtrl" [(ngModel)]="user.email" />
                  <mat-error *ngIf="registerFormGroup.controls['emailCtrl'].errors?.email">
                    {{ 'register.email_invalid' | translate }}
                  </mat-error>
                  <mat-error *ngIf="registerFormGroup.controls['emailCtrl'].errors?.required">
                    {{ 'register.email_required' | translate }}
                  </mat-error>
                </mat-form-field>
              </div>

            </div>
            <div class="col-sm-6">
              <div class="form-group row phoneInput">
                <label class='pr-4'>{{ 'register.phone' | translate }}</label>
                <ngx-intl-tel-input [inputId]="'adsasd'" [cssClass]="'custom'" [preferredCountries]="preferredCountries"
                  [enableAutoCountrySelect]="true" [enablePlaceholder]="true" [searchCountryFlag]="true"
                  [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]" [selectFirstCountry]="false"
                  [selectedCountryISO]="CountryISO.UnitedStates" [maxLength]="15" [tooltipField]="TooltipLabel.Name"
                  [phoneValidation]="true" [separateDialCode]="separateDialCode" name="phone"
                  formControlName="phoneNumberCtrl">
                </ngx-intl-tel-input>
                <mat-error *ngIf="registerFormGroup.controls['phoneNumberCtrl'].invalid">
                  {{ 'register.phone_invalid' | translate }}
                </mat-error>
              </div>

            </div>
          </div>
          <div>
            <button mat-raised-button color="accent" matStepperNext [disabled]="registerFormGroup.invalid">{{ 'register.next' | translate }}</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="infoFormGroup">
        <form [formGroup]="infoFormGroup">
          <ng-template matStepLabel>{{ 'register.fillout_your_info' | translate }}</ng-template>
          <div class="title-1">
            <h3>{{ 'register.about' | translate }}</h3>

          </div>
          <div class="content-1">
            <mat-form-field appearance="fill" class="full-width " style="width: 100%;">
              <textarea matInput placeholder="{{'register.about_placeholder' | translate }}" formControlName="rolesCtrl" [(ngModel)]="user.about"
                required></textarea>
              <mat-error *ngIf="infoForm.rolesCtrl.errors?.maxlength">
                {{ 'register.about_max_length_1' | translate }} <strong> {{ 'register.about_max_length_2'}} {{maxLengthText}}</strong>
              </mat-error>
            </mat-form-field>
            <span class="float-right alert-length">{{user.about.length}}/{{maxLengthText}}</span>
          </div>
          <div class="title-1">
            <h3>{{ 'register.interest' | translate }}</h3>

          </div>
          <div class="content-1">
            <mat-form-field appearance="fill" class="full-width " style="width: 100%;">
              <input matInput placeholder="{{ 'register.interest_placeholder' | translate }}" formControlName="interestsCtrl" [(ngModel)]="user.interests"
                required>
              <mat-error *ngIf="infoForm.interestsCtrl.errors?.maxlength">
                {{ 'register.interest_error_1' | translate }}<strong>{{ 'register.interest_error_2' | translate }}{{maxLengthText}}</strong>
              </mat-error>
            </mat-form-field>
            <span class="float-right alert-length">{{user.interests.length}}/{{maxLengthText}}</span>
          </div>
          <div class="title-1">
            <h3>{{ 'register.specialists' | translate }}</h3>

          </div>
          <div class="content-1">
            <mat-form-field appearance="fill" class="full-width " style="width: 100%;">
              <input matInput placeholder="{{ 'register.spec_placeholders' | translate }}" formControlName="specialitiesCtrl"
                [(ngModel)]="user.specialities" required>
              <mat-error *ngIf="infoForm.specialitiesCtrl.errors?.maxlength">
                {{ 'register.spec_errro_1' | translate }}<strong>{{ 'register.spec_errro_2' | translate }}{{maxLengthText}}</strong>
              </mat-error>
            </mat-form-field>
            <span class="float-right alert-length">{{user.specialities.length}}/{{maxLengthText}}</span>
          </div>
          <div class="title-1">
            <h3>{{ 'register.category' | translate }}</h3>

          </div>
          <div class="content-1">

            <mat-form-field appearance="fill" class="full-width " style="width: 100%;">
              <mat-label>{{ 'register.category_label' | translate }}</mat-label>
              <mat-select [(value)]="user.category">
                <mat-option value="male">{{ 'register.male' |  translate }}</mat-option>
                <mat-option value="female">{{ 'register.female' | translate }}</mat-option>
                <mat-option value="couples">{{ 'register.couples' | translate }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div>
            <button mat-raised-button color="accent" matStepperNext [disabled]="infoFormGroup.invalid">{{ 'register.next' | translate }}</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="fileFormGroup">
        <ng-template matStepLabel>{{ 'register.upload_file' | translate }}</ng-template>
        <form [formGroup]="fileFormGroup">
          <div class="example-full-width">
            <mat-label>{{ 'register.audio_file' | translate }}</mat-label>
            <input type="button" onclick="document.getElementById('audio_file').click()" 
            value="{{ 'howtocall.click_here' | translate }}" />
            <input formControlName="audioCtrl" type="file" name="image" (change)="fileProgress($event)"
              accept="audio/*" style="display:none;" id="audio_file">
            <mat-error *ngIf="!checkFileSize()">
              {{ 'register.file_max_error' | translate }}
            </mat-error>
          </div>
          <div>
            <button mat-raised-button color="accent" matStepperPrevious style="margin-right: 10%;">{{ 'register.back' | translate }}</button>
            <button mat-raised-button color="accent" [disabled]="fileFormGroup.invalid" matStepperNext>{{ 'register.next' | translate }}</button>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>{{ 'register.done' | translate }}</ng-template>
        <p>{{ 'register.you_are_done' | translate }}</p>
        <div>
          <button mat-raised-button color="accent" matStepperPrevious style="margin-right: 10%;">{{ 'register.done' | translate }}</button>
          <button [disabled]="loading" mat-raised-button color="accent" appDebounceClick (debounceClick)="onSubmit()"
            [debounceTime]="700">{{ 'register.submit' | translate }}</button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
    <mat-vertical-stepper #stepper linear fxShow="false" fxShow.lt-md="true">
      <mat-step [stepControl]="registerFormGroup">
        <ng-template matStepLabel>{{ 'register.enter_your_account' | translate }}</ng-template>
        <form [formGroup]="registerFormGroup">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group row">
                <mat-form-field appearance="fill">
                  <mat-label for="firstName">{{ 'register.first_name' | translate }}</mat-label>
                  <input type="text" matInput formControlName="firstNameCtrl" [(ngModel)]="user.firstName" />
                  <mat-error *ngIf="registerFormGroup.controls['firstNameCtrl'].errors?.required">
                    {{ 'register.first_name_required' | translate }}
                  </mat-error>

                </mat-form-field>
              </div>

            </div>
            <div class="col-sm-6">
              <div class="form-group row">

                <mat-form-field appearance="fill">
                  <mat-label for="lastName">{{ 'register.last_name' | translate }}</mat-label>
                  <input matInput type="text" formControlName="lastNameCtrl" [(ngModel)]="user.lastName" />
                  <mat-error *ngIf="registerFormGroup.controls['lastNameCtrl'].errors?.required">
                    {{ 'register.last_name_required' | translate }}
                  </mat-error>

                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group row">

                <mat-form-field appearance="fill">
                  <mat-label for="password">{{ 'register.password' | translate }}</mat-label>
                  <input matInput type="password" formControlName="passwordCtrl" [(ngModel)]="user.password" />
                  <mat-error *ngIf="registerFormGroup.controls['passwordCtrl'].errors?.minlength">
                    {{ 'register.password_length_error' | translate }}
                  </mat-error>
                  <mat-error *ngIf="registerFormGroup.controls['passwordCtrl'].errors?.required">
                    {{ 'register.password_required' | translate }}
                  </mat-error>

                </mat-form-field>
              </div>

            </div>
            <div class="col-sm-6">
              <div class="form-group row">

                <mat-form-field appearance="fill">
                  <mat-label for="prePassword">{{ 'register.confirm_password' | translate }}</mat-label>
                  <input matInput type="password" placeholder="Confirm password" formControlName="confirmPassword"
                    [errorStateMatcher]="matcher">
                  <mat-error *ngIf="registerFormGroup.hasError('notSame')">
                    {{ 'register.password_mismatch' | translate }}
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group row">

                <mat-form-field appearance="fill">
                  <mat-label for="email">{{ 'register.email' | translate }}</mat-label>
                  <input matInput type="text" formControlName="emailCtrl" [(ngModel)]="user.email" />
                  <mat-error *ngIf="registerFormGroup.controls['emailCtrl'].errors?.email">
                    {{ 'register.email_invalid' | translate }}
                  </mat-error>
                  <mat-error *ngIf="registerFormGroup.controls['emailCtrl'].errors?.required">
                    {{ 'register.email_required' | translate }}
                  </mat-error>
                </mat-form-field>
              </div>

            </div>
            <div class="col-sm-6">
              <div class="form-group row phoneInput">
                <label class='pr-4'>{{ 'register.phone' | translate }}</label>
                <ngx-intl-tel-input [inputId]="'adsasd'" [cssClass]="'custom'" [preferredCountries]="preferredCountries"
                  [enableAutoCountrySelect]="true" [enablePlaceholder]="true" [searchCountryFlag]="true"
                  [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]" [selectFirstCountry]="false"
                  [selectedCountryISO]="CountryISO.UnitedStates" [maxLength]="15" [tooltipField]="TooltipLabel.Name"
                  [phoneValidation]="true" [(ngModel)]="user.phone" [separateDialCode]="separateDialCode" name="phone"
                  formControlName="phoneNumberCtrl">
                </ngx-intl-tel-input>
                <mat-error *ngIf="registerFormGroup.controls['phoneNumberCtrl'].invalid">
                  {{ 'register.phone_invalid' | translate }}
                </mat-error>
              </div>

            </div>
          </div>
          <div>
            <button mat-raised-button color="accent" matStepperNext [disabled]="registerFormGroup.invalid">{{ 'register.next' | translate }}</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="infoFormGroup">
        <form [formGroup]="infoFormGroup">
          <ng-template matStepLabel>{{ 'regsiter.fillout_your_info' | translate }}</ng-template>
          <div class="title-1">
            <h3>{{ 'register.about' | translate }}</h3>

          </div>
          <div class="content-1">
            <mat-form-field appearance="fill" class="full-width " style="width: 100%;">
              <textarea matInput placeholder="{{ 'register.about_placeholder' | translate }}" formControlName="rolesCtrl" [(ngModel)]="user.about"
                required></textarea>
              <mat-error *ngIf="infoForm.rolesCtrl.errors?.maxlength">
                {{ 'register.about_max_length_1' | translate }}<strong>{{ 'register.about_max_length_2'| translate }}{{maxLengthText}}</strong>
              </mat-error>
            </mat-form-field>
            <span class="float-right alert-length">{{user.about.length}}/{{maxLengthText}}</span>
          </div>
          <div class="title-1">
            <h3>{{ 'register.interest' | translate }}</h3>

          </div>
          <div class="content-1">
            <mat-form-field appearance="fill" class="full-width " style="width: 100%;">
              <input matInput placeholder="{{ 'register.interest_placeholder' | translate }}" formControlName="interestsCtrl" [(ngModel)]="user.interests"
                required>
              <mat-error *ngIf="infoForm.interestsCtrl.errors?.maxlength">
                {{ 'register.interest_error_1' | translate }}<strong>{{ 'register.interest_error_2' | translate }}{{maxLengthText}}</strong>
              </mat-error>
            </mat-form-field>
            <span class="float-right alert-length">{{user.interests.length}}/{{maxLengthText}}</span>
          </div>
          <div class="title-1">
            <h3>{{ 'register.specialists' | translate }}</h3>

          </div>
          <div class="content-1">
            <mat-form-field appearance="fill" class="full-width " style="width: 100%;">
              <input matInput placeholder="{{ 'register.spec_placeholders' | translate }}" formControlName="specialitiesCtrl"
                [(ngModel)]="user.specialities" required>
              <mat-error *ngIf="infoForm.specialitiesCtrl.errors?.maxlength">
                {{ 'register.spec_error_1' | translate }}<strong>{{ 'register.spec_errro_2' | translate }}{{maxLengthText}}</strong>
              </mat-error>
            </mat-form-field>
            <span class="float-right alert-length">{{user.specialities.length}}/{{maxLengthText}}</span>
          </div>
          <div class="title-1">
            <h3>{{ 'register.category' | translate }}</h3>
          </div>
          <div class="content-1">
            <mat-form-field appearance="fill" class="full-width " style="width: 100%;">
              <mat-label>{{ 'register.category_label' | translate }}</mat-label>
              <mat-select [(value)]="user.category">
                <mat-option value="male">{{ 'register.male' | translate }}</mat-option>
                <mat-option value="female">{{ 'register.female' | translate }}</mat-option>
                <mat-option value="couples">{{ 'register.couples' | translate }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div>
            <button mat-raised-button color="accent" matStepperNext [disabled]="infoFormGroup.invalid">{{ 'register.next' | translate }}</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="fileFormGroup">
        <ng-template matStepLabel>{{ 'register.upload_file' | translate }}</ng-template>
        <form [formGroup]="fileFormGroup">
          <div class="example-full-width">
            <mat-label>{{ 'register.audio_file' | translate }}</mat-label>
            <input type="button" onclick="document.getElementById('audio_file').click()" 
            value="{{ 'howtocall.click_here' | translate }}" />
            <input formControlName="audioCtrl" type="file" name="image" (change)="fileProgress($event)"
              accept="audio/*" style="display:none;" id="audio_file">
            <mat-error *ngIf="!checkFileSize()">
              {{ 'register.file_max_error' | translate }}
            </mat-error>
          </div>
          <div>
            <button mat-raised-button color="accent" matStepperPrevious style="margin-right: 10%;">{{ 'regsiter.back' | translate }}</button>
            <button mat-raised-button color="accent" [disabled]="fileFormGroup.invalid" matStepperNext>{{ 'register.next' | translate }}</button>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>{{ 'register.done' | translate }}</ng-template>
        <p>{{ 'register.you_are_done' | translate }}</p>
        <div>
          <button mat-raised-button color="accent" matStepperPrevious style="margin-right: 10%;">{{ 'register.back' | translate}}</button>
          <button [disabled]="loading" mat-raised-button color="accent" appDebounceClick (debounceClick)="onSubmit()"
            [debounceTime]="700">{{ 'register.submit' | translate }}</button>
        </div>
      </mat-step>
    </mat-vertical-stepper>
  </div>
</div>
<app-footer></app-footer>