<div class="rating-form">
    <h2>{{'widgets.rating_call.title' | translate}}</h2>
    <form [formGroup]="reviewForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <ng-template #t let-fill="fill">
                <span class="star" [class.full]="fill === 100">
                  <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
                </span>
              </ng-template>
            <ngb-rating [formControl]="ratingFormCtrl" [starTemplate]="t" formControlName="ratingFormCtrl" [(rate)]="rating" [max]="5">
               
            </ngb-rating>
            <div class="form-text small">
              <div *ngIf="ratingFormCtrl.valid" class="text-success">{{'widgets.rating_call.thanks' | translate}}</div>
              <div *ngIf="ratingFormCtrl.errors?.required" class="text-danger">{{'widgets.rating_call.rate_call' | translate}}</div>
            </div>
             <span>({{'widgets.rating_call.choose_rating' | translate}}) {{ratingFormCtrl.value}}</span>
        </div>
        <button mat-raised-button  (click)="onNoClick()">{{'widgets.rating_call.no_thanks' | translate}}</button>
        <button  mat-raised-button color="accent"  [disabled]="loading"  >{{'widgets.rating_call.submit' | translate}}</button>
    </form>
</div>
