<div class="rating-form">
    <h2>{{ 'model.review_ratings' | translate }}</h2>
    <form [formGroup]="reviewForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <textarea placeholder="{{ 'model.add_comment' | translate }}" rows="5" type="text" formControlName="content" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.content.errors }" ></textarea>
              <div *ngIf="submitted && f.content.errors" class="invalid-feedback">
                  <div *ngIf="f.content.errors.required">{{ 'register.first_name_required' | translate }}}</div>
              </div>
        </div>
        <div class="form-group">
            <ng-template #t let-fill="fill">
                <span class="star" [class.full]="fill === 100">
                  <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
                </span>
              </ng-template>
            <ngb-rating [formControl]="ratingFormCtrl" [starTemplate]="t"  [(rate)]="rating" [max]="5">
               
            </ngb-rating>
            <div class="form-text small">
              <div *ngIf="ratingFormCtrl.valid" class="text-success">{{ 'model.thanks' | translate }}</div>
              <div *ngIf="ratingFormCtrl.invalid" class="text-danger">{{ 'model.please_rate' | translate }} {{model.lastName}}</div>
            </div>
             <span>({{ 'model.choose_rating' | translate }}) {{ratingFormCtrl.value}}</span>
        </div>
        <button type="button"  [disabled]="f.content.errors?true:false"  (click)="onSubmit()" class="btn btn-danger">{{ 'register.submit' | translate }}</button>
    </form>
</div>
