
<app-navigation></app-navigation>
<app-banner></app-banner>
<app-top-up></app-top-up>

<div _ngcontent-serverapp-c7="" class="container"><p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><strong><span style="font-size:24.0pt"><span style="font-family:Times New Roman,serif">{{ 'policy.title' | translate }}</span></span></strong></span></span></p>

    <p style="margin-left:0cm; margin-right:0cm">&nbsp;</p>
    
    <p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt"><span style="font-family:Times New Roman,serif">{{ 'policy.description' | translate }}</span></span></span></span></p>
    
    <p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><strong><span style="font-size:18.0pt"><span style="font-family:Times New Roman,serif">{{ 'policy.prohibited' | translate }}</span></span></strong></span></span></p>
    
    <p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt"><span style="font-family:Times New Roman,serif">{{ 'policy.prohibited_desc1' | translate }}</span></span></span></span></p>
    
    <ul>
        <li><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt"><span style="font-family:Times New Roman,serif">{{ 'policy.prohibited_desc2' | translate }}</span></span></span></span></li>
        <li><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt"><span style="font-family:Times New Roman,serif">{{ 'policy.prohibited_desc3' | translate }}</span></span></span></span></li>
        <li><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt"><span style="font-family:Times New Roman,serif">{{ 'policy.prohibited_desc4' | translate }}</span></span></span></span></li>
        <li><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt"><span style="font-family:Times New Roman,serif">{{ 'policy.prohibited_desc5' | translate }}</span></span></span></span></li>
        <li><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt"><span style="font-family:Times New Roman,serif">{{ 'policy.prohibited_desc6' | translate }}</span></span></span></span></li>
        <li><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt"><span style="font-family:Times New Roman,serif">{{ 'policy.prohibited_desc7' | translate }}</span></span></span></span></li>
        <li><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt"><span style="font-family:Times New Roman,serif">{{ 'policy.prohibited_desc8' | translate }}</span></span></span></span></li>
    </ul>
    
    <p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt"><span style="font-family:Times New Roman,serif">{{ 'policy.prohibited_desc9' | translate }}</span></span></span></span></p>
    
    <ul>
        <li><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt"><span style="font-family:Times New Roman,serif">{{ 'policy.prohibited_desc10' | translate }}</span></span></span></span></li>
        <li><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt"><span style="font-family:Times New Roman,serif">{{ 'policy.prohibited_desc11' | translate }} </span></span></span></span>
        <ul style="list-style-type:circle">
            <li><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt"><span style="font-family:Times New Roman,serif">{{ 'policy.prohibited_desc12' | translate }}</span></span></span></span></li>
            <li><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt"><span style="font-family:Times New Roman,serif">{{ 'policy.prohibited_desc13' | translate }}</span></span></span></span></li>
            <li><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt"><span style="font-family:Times New Roman,serif">{{ 'policy.prohibited_desc14' | translate }}</span></span></span></span></li>
            <li><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt"><span style="font-family:Times New Roman,serif">{{ 'policy.prohibited_desc15' | translate }}</span></span></span></span></li>
        </ul>
        </li>
    </ul>
    
    <p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><strong><span style="font-size:13.5pt"><span style="font-family:Times New Roman,serif">{{ 'policy.interactive' | translate }}</span></span></strong></span></span></p>
    
    <p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt"><span style="font-family:Times New Roman,serif">{{ 'policy.interactive_desc' | translate }}</span></span></span></span></p>
    
    <p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><strong><span style="font-size:13.5pt"><span style="font-family:Times New Roman,serif">{{ 'policy.content' | translate }}</span></span></strong></span></span></p>
    
    <p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt"><span style="font-family:Times New Roman,serif">{{ 'policy.content_desc1' | translate }}</span></span></span></span></p>
    
    <p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt"><span style="font-family:Times New Roman,serif">{{ 'policy.content_desc2' | translate }}</span></span></span></span></p>
    
    <p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt"><span style="font-family:Times New Roman,serif">{{ 'policy.content_desc3' | translate }}</span></span></span></span></p>
    
    <ul>
        <li><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt"><span style="font-family:Times New Roman,serif">{{ 'policy.content_desc4' | translate }}</span></span></span></span></li>
        <li><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt"><span style="font-family:Times New Roman,serif">{{ 'policy.content_desc5' | translate }}</span></span></span></span></li>
        <li><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt"><span style="font-family:Times New Roman,serif">{{ 'policy.content_desc6' | translate }}</span></span></span></span></li>
    </ul>
    
    <p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt"><span style="font-family:Times New Roman,serif">{{ 'policy.content_desc7' | translate }}</span></span></span></span></p>
    
    <ul>
        <li><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt"><span style="font-family:Times New Roman,serif">{{ 'policy.content_desc8' | translate }}</span></span></span></span></li>
        <li><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt"><span style="font-family:Times New Roman,serif">{{ 'policy.content_desc9' | translate }}</span></span></span></span></li>
        <li><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt"><span style="font-family:Times New Roman,serif">{{ 'policy.content_desc10' | translate }}</span></span></span></span></li>
        <li><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt"><span style="font-family:Times New Roman,serif">{{ 'policy.content_desc11' | translate }}</span></span></span></span></li>
        <li><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt"><span style="font-family:Times New Roman,serif">{{ 'policy.content_desc12' | translate }}</span></span></span></span></li>
        <li><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt"><span style="font-family:Times New Roman,serif">{{ 'policy.content_desc13' | translate }}</span></span></span></span></li>
        <li><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt"><span style="font-family:Times New Roman,serif">{{ 'policy.content_desc14' | translate }}</span></span></span></span></li>
        <li><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt"><span style="font-family:Times New Roman,serif">{{ 'policy.content_desc15' | translate }}</span></span></span></span></li>
        <li><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt"><span style="font-family:Times New Roman,serif">{{ 'policy.content_desc16' | translate }}</span></span></span></span></li>
        <li><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt"><span style="font-family:Times New Roman,serif">{{ 'policy.content_desc17' | translate }}</span></span></span></span></li>
        <li><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt"><span style="font-family:Times New Roman,serif">{{ 'policy.content_desc18' | translate }}</span></span></span></span></li>
        <li><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt"><span style="font-family:Times New Roman,serif">{{ 'policy.content_desc19' | translate }}</span></span></span></span></li>
        <li><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt"><span style="font-family:Times New Roman,serif">{{ 'policy.content_desc20' | translate }}</span></span></span></span></li>
        <li><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt"><span style="font-family:Times New Roman,serif">{{ 'policy.content_desc21' | translate }}</span></span></span></span></li>
    </ul>
    
    <p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><strong><span style="font-size:13.5pt"><span style="font-family:Times New Roman,serif">{{ 'policy.suspension' | translate }}</span></span></strong></span></span></p>
    
    <p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt"><span style="font-family:Times New Roman,serif">{{ 'policy.suspension_desc1' | translate }}</span></span></span></span></p>
    
    <p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt"><span style="font-family:Times New Roman,serif">{{ 'policy.suspension_desc2' | translate }}</span></span></span></span></p>
    
    <ul>
        <li><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt"><span style="font-family:Times New Roman,serif">{{ 'policy.suspension_desc3' | translate }}</span></span></span></span></li>
        <li><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt"><span style="font-family:Times New Roman,serif">{{ 'policy.suspension_desc4' | translate }}</span></span></span></span></li>
        <li><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt"><span style="font-family:Times New Roman,serif">{{ 'policy.suspension_desc5' | translate }}</span></span></span></span></li>
        <li><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt"><span style="font-family:Times New Roman,serif">{{ 'policy.suspension_desc6' | translate }}</span></span></span></span></li>
        <li><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt"><span style="font-family:Times New Roman,serif">{{ 'policy.suspension_desc7' | translate }}</span></span></span></span></li>
        <li><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt"><span style="font-family:Times New Roman,serif">{{ 'policy.suspension_desc8' | translate }}</span></span></span></span></li>
    </ul>
    
    <p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt"><span style="font-family:Times New Roman,serif">{{ 'policy.suspension_desc9' | translate }}</span></span></span></span></p>
    
    <p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><strong><span style="font-size:13.5pt"><span style="font-family:Times New Roman,serif">{{ 'policy.changes' | translate }}</span></span></strong></span></span></p>
    
    <p><span style="font-size:12.0pt"><span style="font-family:Times New Roman,serif">{{ 'policy.changes_desc' | translate }}</span></span></p>
    </div>
<app-become-model></app-become-model>
<app-footer></app-footer>