
<app-navigation></app-navigation>
<app-banner></app-banner>
<app-top-up></app-top-up>

<div _ngcontent-serverapp-c7="" class="container"><h1 style="margin-left:0cm; margin-right:0cm"><span style="font-size:24pt"><span style="font-family:Times New Roman,serif">{{ 'record.title' | translate }}</span></span></h1>

    <p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">{{ 'record.desc1' | translate }}</span></span></p>
    
    <p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">{{ 'record.desc2' | translate }}</span></span></p>
    
    <p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">{{ 'record.desc3' | translate }}</span></span></p>
    
    <p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">{{ 'record.desc4' | translate }}</span></span></p>
    
    <p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">{{ 'record.desc5' | translate }}</span></span></p>
    
    <p style="margin-left:0cm; margin-right:0cm">{{ 'record.desc6' | translate }}</p>
    
    <p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">{{ 'record.desc7' | translate }}</span></span></p>
    
    <p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">{{ 'record.desc8' | translate }}</span></span></p>
    
    <p style="margin-left:0cm; margin-right:0cm"><strong><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">{{ 'record.desc9' | translate }}</span></span></strong></p>
    
    <p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">{{ 'record.desc10' | translate }}</span></span></p>
    </div>

<app-become-model></app-become-model>
<app-footer></app-footer>