
	<div class="title-bg-grey">
		<div class="title-main">{{ 'home.become.become_a' | translate }}<span>{{ 'home.become.clairvoyant' | translate }}</span></div>
	</div>
	<div class="about-home"  #aboutContainer id="aboutContainer">
		<div class="row" style="margin-right: 0px">
		<div class="col-md-7 bg-cover"[style.backgroundImage]="'url('+ image +')'" #bgEle id="bgEle" >
			<img src="images/img1.jpg">
		</div>
		<div class="col-md-5" >
			<h3>{{ 'home.become.join_us_clairvoyant' | translate }}</h3>
			<div class="txt-about-home">
			<p>{{ 'home.become.join_description' | translate }}</p>
			</div>
			<a [routerLink]="['/register-model']" class="join-us">{{ 'home.become.join_us' | translate }}</a>
		</div>
		</div>
	</div>