<app-navigation></app-navigation>
<div class="signup-box">
  <div class="sign-box">
    <h3>{{ 'signup.enter_your_account' | translate }}</h3>
    <div class="row">
      <div class="col-sm-7">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="firstName">{{ 'signup.first_name' | translate }}</label>
            <input mat-input type="text" formControlName="firstName" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
            <div *ngIf="submitted && f.firstName.invalid" class="invalid-feedback">
              <mat-error *ngIf="f.firstName.errors.required">{{ 'signup.first_name_required' | translate }}</mat-error>
            </div>
          </div>
          <div class="form-group">
            <label for="lastName">{{ 'signup.last_name' | translate }}</label>
            <input mat-input type="text" formControlName="lastName" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
            <div *ngIf="submitted && f.lastName.invalid" class="invalid-feedback">
              <mat-error *ngIf="registerForm.controls['lastName'].errors?.required">{{ 'signup.last_name_required' | translate }}</mat-error>
            </div>
          </div>
          <div class="form-group">
            <label for="email">{{ 'signup.email' | translate }}</label>
            <input mat-input type="text" formControlName="email" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
            <div *ngIf="submitted && registerForm.controls['email'].errors" class="invalid-feedback">
              <mat-error *ngIf="registerForm.controls['email'].errors?.email">{{ 'signup.email_format_error' | translate }}</mat-error>
              <mat-error *ngIf="registerForm.controls['email'].errors?.required">{{ 'signup.email_required' | translate }}</mat-error>
            </div>
          </div>
          <div class="form-group">
            <label for="password">{{ 'signup.password' | translate }}</label>
            <input mat-input type="password" formControlName="password" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
              <mat-error *ngIf="registerForm.controls['password'].errors?.required">{{ 'signup.password_required' | translate }}</mat-error>
              <mat-error *ngIf="registerForm.controls['password'].errors?.minlength">{{ 'signup.password_length_error_1' | translate }}
                {{passwordMinLength}} {{ 'signup.password_length_error_2' | translate }}</mat-error>
            </div>
          </div>
          <div class="form-group">
            <label for="prePassword">{{ 'signup.confirm_pwd' | translate }}</label>
            <input type="password" formControlName="prePassword" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && registerForm.errors }" />
            <div *ngIf="submitted && registerForm.hasError('notSame')" class="invalid-feedback">
              <mat-error *ngIf="registerForm.hasError('notSame')">{{ 'signup.password_match_error' | translate }}</mat-error>
            </div>
          </div>

          <div class="form-group">
            <ngx-recaptcha2 siteKey="{{siteKey}}" (success)="handleSuccess($event)" [size]="size" [hl]="lang"
              [theme]="theme" [type]="type" formControlName="recaptcha">
            </ngx-recaptcha2>
            <button [disabled]="loading" class="btn btn-primary" (click)="onSubmit()">
              <span *ngIf="loading " class="spinner-border spinner-border-sm mr-1"></span>
              {{ 'signup.register' | translate }}
            </button>
            <a routerLink="/login" class="btn btn-link">{{ 'signup.cancel' | translate }}</a>
          </div>
        </form>
      </div>
      <div class="col-sm-5">
        <ul class="list-2">
            <li>{{ 'signup.description1' | translate }}</li>
            <li>{{ 'signup.description2' | translate }}</li>
            <li>{{ 'signup.description3' | translate }}</li>
            <li>{{ 'signup.description4' | translate }}</li>
            <li>{{ 'signup.description5' | translate }} <a [routerLink]='["/register-model"]'>{{ 'signup.description6' | translate }}</a></li>
        </ul>
        <li>{{ 'signup.description7' | translate }} <a (click)="openContact()" href="javascript: return false;" style="color:#007bff">{{ 'signup.description8' | translate }}</a>.
        <div class="img-details">
          
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>