<div class="footer" *ngIf="pageConfig">
  <div class="container">
    <div class="row">
      <div class="col-sm-5 logo">
        <img src="{{pageConfig.getLogo()}}">
        <div class="info-footer">
          <p>{{ 'footer.anonymous' | translate }}</p>
          <p>{{ 'footer.great_quality_audio' | translate }}</p>
          <p>{{ 'footer.no_phone_charge' | translate}}</p>
          <a href="/sign-up" class="btn signup-footer_btn" style="border: 2px solid #fff;">{{ 'footer.signup_now' | translate }}</a>
        </div>
      </div>
      <div class="col-sm-3 list-menu">
        <h3>{{ 'footer.static_page' | translate }}</h3>
        <br>
        <ul class="none-list d-flex flex-column list_static-page">
          <!-- <li *ngFor="let pageItem of listStaticPage flex-fill"> <a href="/page/{{pageItem.slug}}">{{pageItem.title}}</a></li> -->
          <li> <a href="https://luck-telling.com/page/terms-conditions">{{ 'footer.terms_coditions' | translate }}</a></li>
          <li> <a href="https://luck-telling.com/page/acceptable-use-policy">{{ 'footer.acceptable_policy' | translate }}</a></li>
          <li> <a href="https://luck-telling.com/page/record-keeping-compliance">{{ 'footer.record_compaliance' | translate }}</a></li>
          <li> <a href="https://luck-telling.com/page/faq">{{ 'footer.faq'| translate }}</a></li>
          <li> <a href="/how-to-call">{{ 'footer.how_to_call' | translate }}</a></li>
        </ul>
      </div>
      <div class="col-sm-4">
        <h3>{{ 'footer.e_newsletter' | translate }}</h3>
        <div class="form-newletter">
          <input [(ngModel)]="emailNewsLetter"  type="text" placeholder="{{ 'footer.enter_email' | translate }}" name="" style="color:#fff">
          <button (click)="registerNewLetter()" class="btn btn-danger">{{ 'footer.register' | translate }}</button>
        </div>
        <div class="social-media">
          <li><a href="{{pageConfig.fb}}"><i class="fa fa-facebook"></i></a></li>
          <li><a href="{{pageConfig.twitter}}"><i class="fa fa-twitter"></i></a></li>
          <li><a href="{{pageConfig.gg}}"><i class="fa fa-instagram"></i></a></li>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="copy-right" *ngIf="pageConfig">
  {{pageConfig.footer}}
</div>
