<app-navigation></app-navigation>
<div class="model-home">
    <div class="container">
    <div class="hea-top-main">
        <div class="thumbnail">
            <a href="#">{{'get_minutes.home' | translate }} </a>  >  
            <span>{{'get_minutes.get_minutes' | translate }}</span>
        </div>
        
    </div>

    <div class="row">
        <div class="col-md-12 col-lg-9">
            <ul class="step-minutes">
                <li><span>{{'get_minutes.get' | translate }}</span> {{'get_minutes.minutes' | translate }}</li>
                <li class="active"><span>{{'get_minutes.minutes' | choose }}</span> {{'get_minutes.package' | translate }}</li>
                <li><span>{{'get_minutes.choose' | translate }}</span> {{'get_minutes.payment_method' | translate }}</li>
            </ul>
            <!-- <p class="text-center">
                » Anonymous, Safe and Secure<br>
                » Choose your package and click on "Select"
            </p> -->
            <div class="package-main">
                <ul class="list-package">
                   <li *ngFor="let topup of listTopup">
                        <div class="box-package lt-md_hidden">
                            <div class="top-package">
                                <h2>{{topup.name}}<span>{{pageConfig?.currency}}{{getPrice(topup.price)}}</span></h2>
                                
                                <a *ngIf="user != null;else notUser"href="{{ccbillPath+topup.flexformId+'?user_id='+user.id+'&topupId='+topup._id}}" class="btn btn-danger-ouline">{{'get_minutes.select' | translate }}</a>
                                <ng-template #notUser>
                                    <a  [routerLink]="['/login']" class="btn btn-danger-ouline">{{'get_minutes.select' | translate }}</a>
                                </ng-template>
                            </div>
                            <div class="content-package" >
                                <ul>
                                    <li>{{getMinutes(topup.token ,pageConfig.price)}} {{'get_minutes.minutes' | translate }}</li>
                                    <li><i class="fa fa-check"></i></li>
                                    <li><i class="fa fa-check"></i></li>
                                    <li><i class="fa fa-check"></i></li>
                                </ul>
                            </div>
                        </div>
                        <div class="box-package lt-md_show">
                            <div class="top-package">
                                <h2>{{topup.name}}<span>{{pageConfig?.currency}}{{getPrice(topup.price)}}</span></h2>
                                
                                <a *ngIf="user != null;else notUser"href="{{ccbillPath+topup.flexformId+'?user_id='+user.id+'&topupId='+topup._id}}" class="btn btn-danger-ouline">{{'get_minutes.select' | translate }}</a>
                                <ng-template #notUser>
                                    <a  [routerLink]="['/login']" class="btn btn-danger-ouline">{{'get_minutes.select' | translate }}</a>
                                </ng-template>
                            </div>
                            <div class="content-package" >
                                <ul>
                                    <li >{{getMinutes(topup.token ,pageConfig.price)}} {{'get_minutes.minutes' | translate }}</li>
                                    <li><span [style.padding-right]="'10px'">{{'get_minutes.phone' | translate }}</span><i class="fa fa-check"></i></li>
                                    <li><span [style.padding-right]="'10px'">{{'get_minutes.website_calling' | translate }}</span><i class="fa fa-check"></i></li>
                                    <li><span [style.padding-right]="'10px'">{{'get_minutes.worldwide_access' | translate }}</span><i class="fa fa-check"></i></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
                <ul class="list-title-package lt-md_hidden">
                    <li><span>{{'get_minutes.minutes' | translate }}</span></li>
                    <li><span>{{'get_minutes.phone_calling' | translate }}</span></li>
                    <li><span>{{'get_minutes.website_calling' | translate }}</span></li>
                    <li><span>{{'get_minutes.worldwide_access' | translate }}</span></li>
                </ul>

            </div>
        </div>
        <div class="col-sm-5 col-lg-3 hide-mobile">
            <div class="box-pink">
                <div class="head-box-pink">
                    <i class="fa fa-question-circle"></i>  {{'get_minutes.why_choose' | translate }}
                </div>
                <div class="body-box-pink">
                    <ul class="list-1">
                        <li><a href="#">{{'get_minutes.safe_secure' | translate }}</a></li>
                        <li><a href="#">{{'get_minutes.speak_multi_lang' | translate }}</a></li>
                        <li><a href="#">{{'get_minutes.great_audio_quality' | translate }}</a></li>
                        <li><a href="#">{{'get_minutes.no_phone_charge' | translate }}</a></li>
                        <li><a href="#">{{'get_minutes.phone_Internet_call' | translate }}</a></li>
                        <li><a href="#">{{'get_minutes.worldwide_access' | translate }}</a></li>
                    </ul>
                </div>
            </div>

            <div class="box-pink">
                <div class="head-box-pink">
                    <i class="fa fa-lock"></i>  {{'get_minutes.your_privacy' | translate }}
                </div>
                <div class="body-box-pink">
                    <p>At <a href="{{homeUrl}}">{{title}}</a> {{'get_minutes.your_privacy_description' | translate }}</p>
                    <img src="assets/images/ssl.png">
                </div>
            </div>

        </div>
        
    </div>
</div>
<app-footer></app-footer>