<h1 mat-dialog-title class="text-center">{{'widgets.change_password.title' | translate}} </h1>
<div mat-dialog-content>
    <form [formGroup]="passwordFormGroup" >
    <div class="row">
        <div class="col-sm-12">
          <div class="form-group row">
            <mat-form-field appearance="fill" class="fill-center">
              <mat-label for="password">{{'widgets.change_password.password' | translate}}</mat-label>
            <input matInput type="password" formControlName="passwordCtrl"  [(ngModel)]="user.password"  [errorStateMatcher]="matcher"/>
          </mat-form-field>
        </div>
       
        </div>
        <div class="col-sm-12">
          <div class="form-group row">
            <mat-form-field appearance="fill" class="fill-center">
              <mat-label for="prePassword">{{'widgets.change_password.pre_password' | translate}}</mat-label>
              <input matInput type="password" placeholder="Confirm password" formControlName="confirmPassword"  [errorStateMatcher]="matcher" >
                <mat-error *ngIf="passwordFormGroup.hasError('notSame')">
                  {{'widgets.change_password.not_match' | translate}}
              </mat-error>  
            </mat-form-field>
        </div>   
        </div>
      </div>
    </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">{{'widgets.change_password.no_thanks' | translate}}</button>
  <button mat-button [disabled]="passwordFormGroup.invalid" (click)="onSubmit()"cdkFocusInitial>{{'widgets.change_password.submit' | translate}}</button>
</div>  