<h1 mat-dialog-title class="text-center">Change Passoword </h1>
<div mat-dialog-content>
    <form [formGroup]="passwordFormGroup" >
    <div class="row">
        <div class="col-sm-12">
          <div class="form-group row">
            <mat-form-field appearance="fill" class="fill-center">
              <mat-label for="password">Password</mat-label>
            <input matInput type="password" formControlName="passwordCtrl"  [(ngModel)]="user.password"  [errorStateMatcher]="matcher"/>
          </mat-form-field>
        </div>
       
        </div>
        <div class="col-sm-12">
          <div class="form-group row">
            <mat-form-field appearance="fill" class="fill-center">
              <mat-label for="prePassword">Pre-password</mat-label>
              <input matInput type="password" placeholder="Confirm password" formControlName="confirmPassword"  [errorStateMatcher]="matcher" >
                <mat-error *ngIf="passwordFormGroup.hasError('notSame')">
                     Passwords do not match
              </mat-error>  
            </mat-form-field>
        </div>   
        </div>
      </div>
    </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [disabled]="passwordFormGroup.invalid" (click)="onSubmit()"cdkFocusInitial>Submit</button>
</div>  