
<div class="header">
  <div class="logo">
    <a [routerLink]='["/home"]'><img src="{{pageConfig.getLogo()}}"></a>
  </div>
  <a  class="toggle-menu" (click)="acitveToggleMenu=!acitveToggleMenu" [ngClass]="acitveToggleMenu?'active':'' "><i class="fa fa-bars"></i></a>
    
  <div class="search-top">    
    <input type="text" name="" placeholder="Enter keyword" (keyup)="searchTerm$.next($event.target.value)"
    placeholder="{{ 'navbar.search' | translate }}">
    <button><i class="fa fa-search"></i></button>
    <ul class="list-group search-result_list" *ngIf="results">
      <li class="list-group-item" *ngFor="let result of results ">
          <a  href="/model-detail/{{ result.id }}" target="_blank">
              {{ result.firstName }} {{result.lastName }}
          </a>
      </li>
    </ul>
  </div>
  <div class="right-header" [ngClass]="acitveToggleMenu?'active':'' ">
    <div *ngIf="user && user.access_token ; else notLogin" class="menu-profile"  >
      <li ngbDropdown>
        {{ 'navbar.hi' | translate }}
        <a   class="dropdown-toggle"  id="dropdownMenuButton" ngbDropdownToggle >{{user.lastName}} <i   class="fa fa-angle-down"></i></a>
        <div ngbDropdownMenu aria-labelledby="dropdownMenuButton">
          <button ngbDropdownItem [routerLink]="['/profile']">{{ 'navbar.user.profile' | translate }}</button>
          <button ngbDropdownItem [routerLink]="['/talk-history']">{{ 'navbar.user.talk_history' | translate }}</button>
          <button ngbDropdownItem [routerLink]="['/message']"> {{ 'navbar.user.message' | translate }}</button>
          <button ngbDropdownItem [routerLink]="['/auth']"> {{ 'navbar.user.change_password' | translate }}</button>

          <button *ngIf="user && user.role == 'clairvoyant' " ngbDropdownItem [routerLink]="['/auth/send-withdraw']"> {{ 'navbar.clairvoyant.send_withdraw' | translate }}</button>
          <button *ngIf="user && user.role == 'clairvoyant' " ngbDropdownItem [routerLink]="['/auth/bank-account']"> {{ 'navbar.clairvoyant.bank_account' | translate }}</button>
          <button *ngIf="user && user.role == 'clairvoyant' " ngbDropdownItem [routerLink]="['/my-gallery']"> {{ 'navbar.clairvoyant.gallery' | translate }}</button>
          <button ngbDropdownItem (click)="logout()">{{ 'navbar.user.log_out' | translate }}</button>
        </div>
      </li>
      <li>
        <a [routerLink]="['/notification']" class="nofication"><i class="fa fa-bell"></i></a>
      </li>
    </div>
    <ng-template #notLogin>
      <div class="menu-login">
        <a [routerLink]="['/login']">{{ 'navbar.login' | translate }}</a>  |  <a [routerLink]="['/sign-up']">{{ 'navbar.signup_user' | translate }}</a> |  <a [routerLink]="['/register-model']">{{ 'navbar.signup_clairvoyant' | translate}}</a>
      </div>
    </ng-template>
    
    <ul class="nav-main">
      <li style="display:block; padding-top:26px;">
        <ngx-flag-picker
          [selectedCountryCode]="selectedCountryCode"
          [countryCodes]="countryCodes"
          (changedCountryCode)="changeSelectedCountryCode($event)">
        </ngx-flag-picker>
      </li>
      <li ><a [routerLink]='["/home"]'>{{ 'navbar.home' | translate }}</a></li>
      <li ><a [routerLink]='["/models"]'>{{ 'navbar.clairvoyants' | translate }}</a></li>
      <li *ngIf="user && user.role == 'member' "><a [routerLink]='["/get-minutes"]' >{{ 'navbar.get_minutes' | translate }}</a></li>
      <li><a [routerLink]='["/how-to-call"]' >{{ 'navbar.how_to_call' | translate }}</a></li>
      <li *ngIf="user && user.role == 'member' "><a  >{{timer}} {{ 'navbar.minutes' | translate }}</a></li>
    </ul>
  </div>
</div>


