<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" style="margin:auto">
    <div fxFlex="100"  >
        <form [formGroup]="audioFormGroup">
            <ng-template matStepLabel>{{'widgets.upload_audio.upload_file' | translate}}</ng-template>
            <div class="example-full-width">
              <mat-label>{{'widgets.upload_audio.audio_file' | translate}}</mat-label>
              <input  formControlName="audioCtrl" type="file" name="image" (change)="fileProgress($event)"
              accept="audio/*">
              <mat-error *ngIf="audioFormGroup.hasError('required')">
                {{'widgets.upload_audio.file_req' | translate}}
              </mat-error> 
              <mat-error *ngIf="!checkFileSize()">
                {{'widgets.upload_audio.max_size' | translate}}
              </mat-error>
            </div>
            <div>
              <button mat-raised-button color="accent"  style="margin-right: 10%;" (click)="onSubmit()">Submit</button>
              <button mat-raised-button color="accent" (click)="onCloseClick()">Close</button>
            </div>
          </form>
  </div>